mixin article_content(article)
  table(border="0" cellpadding="0" cellspacing="0")
    tr
      td
        a(href="#{article.url}")
          span.article_title= article.title
    tr
      td
        a(href="#{article.url}")
          p.article_text.article_text--padded!= article.content
    tr
      td
        if article.person.enabled
          table(border="0" cellpadding="0" cellspacing="0")
            tr
              td(width="55")
                img(src="#{article.person.image}")
              td
                table
                  tr
                    td 
                      span.hero_name= article.person.name
                  tr
                    td
                      span.hero_subtitle= article.person.subtitle
